Package: brubeck-fiverr
Version: 0.0.5
Maintainer: Fiverr.com
Architecture: amd64
Description: A Statsd-compatible metrics aggregator (fork https://github.com/github/brubeck)
Depends: libjansson4 (>= 2.5), libmicrohttpd10 (>= 0.9.33)
