Source: brubeck
Priority: optional
Maintainer: Klavs Klavsen <klavs@enableit.dk>
Build-Depends: debhelper (>=9), libmicrohttpd-dev, libjansson-dev (>=2.5)
Standards-Version: 3.9.6
Homepage: https://github.com/nylas/brubeck.git
#Vcs-Git: git://anonscm.debian.org/collab-maint/brubeck.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/brubeck.git

Package: brubeck
Architecture: all
Description: Brubeck statsd daemon replacement
 Brubec statsd daemon replacement
